{% extends 'base.html' %}

{% block title %}
Masterarbeit Simon van der Weck
{% endblock %}

{% block content %}
<h1>
    Einführung
</h1>
<h5>
    Ziel dieses Demonstrators ist es als Proof of Concept (PoC) die technische Machbarkeit und das
    Unterstützungspotenzial von KI in Recommender Systems in der modellbasierten Systementwicklung aufzuzeigen.
    Dabei validiert der Demonstrator durch dessen Funktionalität die in Kapitel 5 generisch definierte und in Kapitel 6
    instanziierte Methode zum Aufbau eines RS zur Ausfallvorhersage.
    Der konkrete Aufbau des Demonstrators ist Kapitel 7 der Abschlussarbeit zu entnehmen.
</h5>


{% endblock %}